.testimonials-section {
	background: $blue-color;
	color: $white-color;
	
	ul {
		width: 100%;
		display: grid;
		place-items: center;
		text-align: center;
		gap: 5em;
		
		li {
			background: #006BD6;
			border-radius: 1em;
			padding: 2em 1em;
			width: 80%;
			
			display: grid;
			place-items: center;
			text-align: center;
			gap: 2rem;
			
			img {
				width: 5em;
				height: 5em;
				border: 5px solid #006BD6;
				border-radius: 50%;
				margin-top: -4.5em;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.testimonials-section {
		padding: 8em 2em 5em 2em;

		ul {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2em;
			width: 100%;

			li {
				max-width: 250px;

			}
		}
	}
}